<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Angular JS | Filters</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>
	<h2>Angular JS Filters</h2>
	
	<div ng-app="myAngularApp" ng-controller="myAngularCtrl">
		<label>First Name:</label>
		<input type="text" ng-model="fname" placeholder="John">
		<br><br>
		<label>Last Name:</label>
		<input type="text" ng-model="lname" placeholder="Smith">
		<br><br>
		Your Name is: {{lname + ", " + fname}}
		<br><br>
		
		<!-- "| uppercase" is a filter -->
		Your Fullname is: {{fullName() | uppercase}}

		<br><br><br>

		Quantity: <input type="text" ng-model="qty">
		<br><br>
		Unit Price: <input type="text" ng-model="unitprice">
		<br><br>
		
		<!-- "| currency" is a filter -->
		Total: {{ qty * unitprice | currency }}
	</div>

	<script>
		angular.module('myAngularApp', []).controller('myAngularCtrl', function($scope){
			$scope.fname = "John";
			$scope.lname = "Smith";
			$scope.fullName = function() {
				return $scope.fname + " " + $scope.lname;
			}
		});

	</script>

</body>
</html>